Testing the Data Pipeline :

In [1]:
# Load Libraris 

import pandas as pd
import numpy as np
import copy

In [2]:
# Load data ::: 
train_file = pd.read_csv('../Data/loan_data_train.csv')
test_file = pd.read_csv('../Data/loan_data_test.csv')

In [3]:
from datqpipeline import*

In [4]:
train_file.head(10)

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years
5,32737.0,5400,5375,8.90%,36 months,small_business,6.27%,OH,RENT,3000.00,785-789,2,90,2.0,NaN
6,71685.0,16000,16000,22.47%,60 months,credit_card,11.27%,CA,RENT,4791.67,665-669,5,8474,0.0,2 years
7,38028.0,6400,6400,7.51%,36 months,major_purchase,9.58%,IL,RENT,6400.00,735-739,11,12306,1.0,< 1 year
8,32119.0,24000,23772.15,12.99%,60 months,home_improvement,15.54%,NC,MORTGAGE,8333.33,740-744,24,56984,0.0,NaN
9,84563.0,8000,8000,7.62%,36 months,other,0%,NC,MORTGAGE,3500.00,765-769,7,0,1.0,NaN

In [5]:
train_file.shape

(2200, 15)

In [6]:
test_file.head(10)

,ID,Amount.Requested,Amount.Funded.By.Investors,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,20093,5000,5000,60 months,moving,12.59%,NY,RENT,4416.67,690-694,13,7686,0,< 1 year
1,62445,18000,18000,60 months,debt_consolidation,4.93%,CA,RENT,5258.50,710-714,6,11596,0,10+ years
2,65248,7200,7200,60 months,debt_consolidation,25.16%,LA,MORTGAGE,3750.00,750-754,13,7283,0,6 years
3,81822,7200,7200,36 months,debt_consolidation,17.27%,NY,MORTGAGE,3416.67,790-794,14,4838,0,10+ years
4,57923,22000,22000,60 months,debt_consolidation,18.28%,MI,MORTGAGE,6083.33,720-724,9,20181,0,8 years
5,33777,6000,.,36 months,home_improvement,2.52%,NJ,MORTGAGE,4800.00,750-754,.,1442,0,10+ years
6,22573,9800,9800,60 months,credit_card,12.89%,CA,MORTGAGE,2708.33,690-694,11,8111,0,3 years
7,32044,6000,6000,36 months,major_purchase,8.81%,NY,OWN,2462.75,715-719,11,8644,0,2 years
8,8127,3000,3000,36 months,moving,10.05%,MA,RENT,9166.67,665-669,15,22698,2,6 years
9,6067,17500,17375,36 months,debt_consolidation,21.63%,CO,RENT,3666.67,715-719,7,20010,0,6 years

In [7]:
test_file.shape

(300, 14)

In [8]:
## Make copies of train and test data ::

train_copy = copy.deepcopy(train_file)
test_copy = copy.deepcopy(test_file)

In [9]:
p1 = pdPipeline([('var_select', VarSelector(['Amount.Requested', 'Amount.Funded.By.Investors', 'Open.CREDIT.Lines', 'Revolving.CREDIT.Balance'])), ('convert_to_numeric', convert_to_numeric()),
('missing_str', DataFrameImputer())])

In [10]:
p2 = pdPipeline([('var_select',VarSelector(['Debt.To.Income.Ratio'])), ('string_clean', string_clean(replace_it='%', replace_with='')), ('convert_to_numeric', convert_to_numeric()), ('missing_trt', DataFrameImputer())])

In [11]:
p3 = pdPipeline([('var_select', VarSelector(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership', 'Employment.Length'])), ('missing_str', DataFrameImputer()), ('create_dummies', get_dummies_Pipe(20))])

In [12]:
p4= pdPipeline([('var_select', VarSelector(['Monthly.Income', 'Inquiries.in.the.Last.6.Months'])), ('missing_str', DataFrameImputer())])

In [13]:
p5= pdPipeline([('var_select', VarSelector(['FICO.Range'])), ('custom_fico', custom_fico())])

In [14]:
data_pipe = FeatureUnion([('obj_to_num', p1),('dtir', p2), ('obj_to_dum', p3), ('num', p4), ('fico', p5)])

In [15]:
data_pipe

FeatureUnion(transformer_list=[('obj_to_num',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=['Amount.Requested',
                                                                              'Amount.Funded.By.Investors',
                                                                              'Open.CREDIT.Lines',
                                                                              'Revolving.CREDIT.Balance'])),
                                                  ('convert_to_numeric',
                                                   convert_to_numeric()),
                                                  ('missing_str',
                                                   DataFrameImputer())])),
                               ('dtir',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=...
                                                  ('missing_str',
                                                   DataFrameImputer()),
                                                  ('create_dummies',
                                                   get_dummies_Pipe(freq_cutoff=20))])),
                               ('num',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=['Monthly.Income',
                                                                              'Inquiries.in.the.Last.6.Months'])),
                                                  ('missing_str',
                                                   DataFrameImputer())])),
                               ('fico',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=['FICO.Range'])),
                                                  ('custom_fico',
                                                   custom_fico())]))])

In [17]:
data_pipe.fit(train_copy)

c:\Users\sanji\Documents\Queens\MLPipeline\DataPipeline\src\datqpipeline.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col]=pd.to_numeric(X[col],errors='coerce')
c:\Users\sanji\Documents\Queens\MLPipeline\DataPipeline\src\datqpipeline.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col]=X[col].str.replace(self.replace_it,self.replace_with)
c:\Users\sanji\Documents\Queens\MLPipeline\DataPipeline\src\datqpipeline.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col]=pd.to_numeric(X[col],errors='coerce')

FeatureUnion(transformer_list=[('obj_to_num',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=['Amount.Requested',
                                                                              'Amount.Funded.By.Investors',
                                                                              'Open.CREDIT.Lines',
                                                                              'Revolving.CREDIT.Balance'])),
                                                  ('convert_to_numeric',
                                                   convert_to_numeric()),
                                                  ('missing_str',
                                                   DataFrameImputer())])),
                               ('dtir',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=...
                                                  ('missing_str',
                                                   DataFrameImputer()),
                                                  ('create_dummies',
                                                   get_dummies_Pipe(freq_cutoff=20))])),
                               ('num',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=['Monthly.Income',
                                                                              'Inquiries.in.the.Last.6.Months'])),
                                                  ('missing_str',
                                                   DataFrameImputer())])),
                               ('fico',
                                pdPipeline(steps=[('var_select',
                                                   VarSelector(feature_names=['FICO.Range'])),
                                                  ('custom_fico',
                                                   custom_fico())]))])

In [18]:
x_train = pd.DataFrame(data = data_pipe.transform(train_copy), columns = data_pipe.get_feature_names())

c:\Users\sanji\Documents\Queens\MLPipeline\DataPipeline\src\datqpipeline.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col]=pd.to_numeric(X[col],errors='coerce')
c:\Users\sanji\Documents\Queens\MLPipeline\DataPipeline\src\datqpipeline.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col]=X[col].str.replace(self.replace_it,self.replace_with)
c:\Users\sanji\Documents\Queens\MLPipeline\DataPipeline\src\datqpipeline.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col]=pd.to_numeric(X[col],errors='coerce')
c:\ProgramData\Anaconda_3\envs\myenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [19]:
x_train

,obj_to_num__Amount.Requested,obj_to_num__Amount.Funded.By.Investors,obj_to_num__Open.CREDIT.Lines,obj_to_num__Revolving.CREDIT.Balance,dtir__Debt.To.Income.Ratio,obj_to_dum__Loan.Length_36 months,obj_to_dum__Loan.Length_60 months,obj_to_dum__Loan.Purpose_debt_consolidation,obj_to_dum__Loan.Purpose_credit_card,obj_to_dum__Loan.Purpose_other,...,obj_to_dum__Employment.Length_4 years,obj_to_dum__Employment.Length_1 year,obj_to_dum__Employment.Length_6 years,obj_to_dum__Employment.Length_7 years,obj_to_dum__Employment.Length_8 years,obj_to_dum__Employment.Length_missing,obj_to_dum__Employment.Length_9 years,num__Monthly.Income,num__Inquiries.in.the.Last.6.Months,fico__fico
0,25000.0,25000.00,11.0,15210.0,27.56,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8606.56,3.0,722.0
1,19750.0,19750.00,14.0,19070.0,13.39,0.0,1.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6737.50,3.0,712.0
2,2100.0,2100.00,13.0,893.0,3.50,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.00,1.0,692.0
3,28000.0,28000.00,12.0,38194.0,19.62,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7083.33,1.0,712.0
4,24250.0,17431.82,6.0,31061.0,23.79,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5833.33,2.0,732.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2195,30000.0,30000.00,16.0,17969.0,12.10,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7083.33,1.0,677.0
2196,4200.0,4200.00,4.0,5718.0,14.16,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3850.00,0.0,702.0
2197,19800.0,19775.00,10.0,46879.0,15.03,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,6666.67,3.0,677.0
2198,18000.0,18000.00,5.0,32394.0,11.63,0.0,1.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,9051.83,2.0,672.0
2199,7550.0,7550.00,10.0,10204.0,3.83,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,8333.33,0.0,712.0

In [20]:
x_train.shape

(2200, 61)

In [21]:
x_test = pd.DataFrame(data = data_pipe.transform(test_copy), columns = data_pipe.get_feature_names())

c:\Users\sanji\Documents\Queens\MLPipeline\DataPipeline\src\datqpipeline.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col]=pd.to_numeric(X[col],errors='coerce')
c:\Users\sanji\Documents\Queens\MLPipeline\DataPipeline\src\datqpipeline.py:69: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col]=X[col].str.replace(self.replace_it,self.replace_with)
c:\Users\sanji\Documents\Queens\MLPipeline\DataPipeline\src\datqpipeline.py:92: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X[col]=pd.to_numeric(X[col],errors='coerce')
c:\ProgramData\Anaconda_3\envs\myenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

In [22]:
x_test

,obj_to_num__Amount.Requested,obj_to_num__Amount.Funded.By.Investors,obj_to_num__Open.CREDIT.Lines,obj_to_num__Revolving.CREDIT.Balance,dtir__Debt.To.Income.Ratio,obj_to_dum__Loan.Length_36 months,obj_to_dum__Loan.Length_60 months,obj_to_dum__Loan.Purpose_debt_consolidation,obj_to_dum__Loan.Purpose_credit_card,obj_to_dum__Loan.Purpose_other,...,obj_to_dum__Employment.Length_4 years,obj_to_dum__Employment.Length_1 year,obj_to_dum__Employment.Length_6 years,obj_to_dum__Employment.Length_7 years,obj_to_dum__Employment.Length_8 years,obj_to_dum__Employment.Length_missing,obj_to_dum__Employment.Length_9 years,num__Monthly.Income,num__Inquiries.in.the.Last.6.Months,fico__fico
0,5000.0,5000.0,13.0,7686.0,12.59,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4416.67,0.0,692.0
1,18000.0,18000.0,6.0,11596.0,4.93,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5258.50,0.0,712.0
2,7200.0,7200.0,13.0,7283.0,25.16,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,3750.00,0.0,752.0
3,7200.0,7200.0,14.0,4838.0,17.27,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3416.67,0.0,792.0
4,22000.0,22000.0,9.0,20181.0,18.28,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,6083.33,0.0,722.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,12000.0,11975.0,7.0,3923.0,13.91,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,7083.33,2.0,707.0
296,5000.0,5000.0,10.0,6023.0,17.22,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4000.00,0.0,707.0
297,4375.0,4375.0,9.0,6944.0,9.09,1.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2916.67,2.0,672.0
298,13600.0,13600.0,13.0,24383.0,12.85,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5651.33,0.0,677.0
299,6000.0,6000.0,8.0,14422.0,7.64,1.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5184.75,0.0,677.0

In [23]:
x_test.shape

(300, 61)